# 程序启动文件
export SPIDER='app.py'

# 程序参数配置
export URL='https://maoyan.com/board/4'
export USER_AGENT='Mozilla/5.0 (Macintosh; Intel Mac OS X 11_1_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36'
